html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #292929;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  cursor:default;

  background-image: linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -o-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -moz-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -webkit-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -ms-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.07, rgb(82,65,49)),
    color-stop(0.54, rgb(152,114,77)),
    color-stop(0.77, rgb(152,114,77))
  );
}

.ui-button {
  font-size: 1em;
}

#player_name {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 4px;
}

#status_panel {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 4px;
}

#bottom_left_buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#bottom_right_buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#game_ui,
#about_dialog,
#requirements_message,
#requirements_message div {
  display: none;
}

#overlay_message div {
  position: absolute;
  left: 50px;
  top: 30px;
  padding: 10px 20px;
}

#overlay_message img {
  padding: 5px 30px 5px 5px;
  float: left;
}

textarea, input, a {
  outline:none;
}

#requirements_message {
  width: 300px;
  margin: 10px;
  padding: 10px;
}
