html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  cursor:default;

  background-image: linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -o-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -moz-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -webkit-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);
  background-image: -ms-linear-gradient(bottom, rgb(82,65,49) 7%, rgb(152,114,77) 54%, rgb(152,114,77) 77%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.07, rgb(82,65,49)),
    color-stop(0.54, rgb(152,114,77)),
    color-stop(0.77, rgb(152,114,77))
  );
}

li {
  list-style: square;
}

h1, h2 {
  margin: 0;
  padding: 10px 0;
}

#title {
  text-shadow: 0.1em 0.1em 0.2em #4F2B0F;
  color: #B5A642;
  font: 3em Helvetica;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#background {
  background: url(jqueryui/images/ui-bg_diamond_20_372806_10x8.png) 50% 50% repeat;
  opacity: .3;
  filter: Alpha(Opacity=30);
  height: 100%;
  width: 100%;
  position: absolute;
}

.ui-button {
  font-size: 1em;
}

#status_panel {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  opacity: .8;
  filter: Alpha(Opacity=80);
  line-height: 1.5;
}

#status_panel div {
  margin-bottom: 5px;
}

#player_name {
  border-bottom: 1px solid #281B06;
}

#bottom_left_buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#bottom_right_buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#game_ui {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */

  position: relative;
}

#game_ui,
#about_dialog,
#welcome_dialog,
#requirements_message,
#requirements_message div {
  display: none;
}

#overlay_message div {
  position: absolute;
  left: 50px;
  top: 30px;
  padding: 10px 20px;
}

#overlay_message img {
  padding: 5px 30px 5px 5px;
  float: left;
}

textarea, input, a {
  outline:none;
}

#requirements_message {
  width: 300px;
  margin: 10px;
  padding: 10px;
}

input {
  border: 1px solid #281B06;
  background: rgb(152,114,77);
}

#current_url {
  width: 100%;
  padding: 0;
  margin: 0;
}

#waiting_for_player_message {
  position: absolute;
  top: 0;
  right: 300px;
  padding: 10px;
}
